@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    color: #313fbd;
    font-family: "Montserrat";
    font-weight: 400;
}


.principal{
  display: flex;
  /* height: 99vh; */
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: grid;
  width: 100%;
  margin: 0px auto;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "banner banner"
                       "cont cont"
                       "contador contador"
                       "text1 text1"
                       "itinerario itinerario"
                       "text2 text2"
                       "text3 text3"
                       "text4 text4";
                      
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}






.banner{
    grid-area: banner;
    min-height: 800px;
    box-shadow: 0px 0px #00000070;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px;
    margin-right: 0px;
    overflow: visible;
    order: initial;
    border-color: inherit;
    background-repeat: no-repeat;
    background-position: 35%;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(https://github.com/dkvs/wedding/blob/main/img/gokuymilk2.jpg?raw=true);
    background-clip: padding-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    row-gap: 8px;
    column-gap: 0px;
}


.contador{
  grid-area: contador;

}

.cont{
  grid-area: cont;

}


.text1{
  grid-area: text1;
}

.text2{
  grid-area: text2;
}

.text3{
  grid-area: text3;
  color: #313fbd;
}

.text4{
  grid-area: text4;
  background-color: #313fbd;
}

.texto-w{
  color: #313fbd;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}


.itinerario{
  grid-area: itinerario;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  row-gap: 20px;
  column-gap: 62px;

}

.text1, .text2{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 0px;
  margin-right: 0px;
  overflow: visible;
  order: initial;
  border-color: inherit;
  background-color: #313fbd;
  row-gap: 20px;
  column-gap: 62px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.text3, .text4{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 0px;
  margin-right: 0px;
  overflow: visible;
  order: initial;
  border-color: inherit;
  row-gap: 20px;
  column-gap: 62px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}





h1, h2
{
  text-align: center;
  width: 100%;
}

.time-item
{
  padding: 10px;
  background: #fff;
  display: block;
}

.row{
    display: flex;
}


.cont{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 40px;
}


.texto{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.text-regalo{
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
}


.content{
    display: flex;
    max-width: 40%;    
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #313fbd;
    background-color: rgba(0, 0, 0, 0.01);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 0px;
    column-gap: 0px;
    text-align-last: center;
}

.title{
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.heart{
    width: 70px;
}

.boton , .boton-cta{
    font-size: 14px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boton-cta{
  color: white;
  border: 1px solid #ffffff;
}

.boton {
  border: 1px solid #313fbd;

}

.text{
    margin-bottom: 22px;
}

.party{
    margin-top: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  
  .contador {
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.2em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }




  .modal-window {
    position: fixed;
    background-color: #313fbd97;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    & > div {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: #1a237b;
      color: white;
      font-weight: 600;
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
      color: #313fbd;
    }
  }
  
  /* Demo Styles */
  


  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .boton-contenedor {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .modal-window {
    & > div {
      border-radius: 1rem;
    }
  }
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  .logo {
    max-width: 150px;
    display: block;
  }
  
  #modal-maps {  
    &.modal-content {
      .modal-header {
        margin: 0;
        padding: 8px;
        border: none;
      }
      .modal-body {
        padding: 5px;
        margin: 0;
        overflow: hidden;
        iframe {
          
        }
      }
      .modal-footer {
        padding: 0;
        margin: 0;
      }
    }
  }
  
  @media only screen and (max-width: 767px) {
    .content {
      max-width: 75%;        
      width: 100%;
    }
}
